.container {
    width: 330px;
    height:230px;
    margin: 10%;
    padding: 15px;
    background-color: #b3deff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8.5px;
    flex-direction: column;
    }

